language: node_js
git:
  depth: 5
cache: yarn
branches:
  only:
    - master
matrix:
  include:
    - node_js: "4"
    - node_js: "6"
    - node_js: "8"
      after_success: "bash <(curl -s https://codecov.io/bash)"
    - node_js: "10"