language: node_js
git:
  depth: 5
cache: yarn
branches:
  only:
    - master
matrix:
  include:
    - node_js: '8'
    - node_js: '10'
      after_success: 'bash <(curl -s https://codecov.io/bash)'
    - node_js: '12'
install:
  - yarn install --frozen-lockfile
script:
  - yarn run check:all
