# http://www.appveyor.com/docs/appveyor-yml

environment:
  matrix:
    - nodejs_version: 4
    - nodejs_version: 6

branches:
  only:
    - master

version: "{build}"
build: off
deploy: off
cache:
 - "%LOCALAPPDATA%\\Yarn"

install:
  - ps: Install-Product node $env:nodejs_version x64
  - yarn install

test_script:
  - node --version
  - yarn --version
  - cmd: "yarn test"
